[net]
# Testing
#batch=1
#subdivisions=1
# Training
batch=64
subdivisions=2
width=1024
height=256
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

learning_rate=0.001
burn_in=1000
max_batches = 10000
policy=steps
steps=7000,8000
scales=.1,.1

[convolutional]
batch_normalize=1
filters=16
size=3
stride=1
pad=1
activation=swish

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=swish

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=swish

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=swish

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=swish

[maxpool]
size=2
stride=1

[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=swish

###########

#[convolutional]
#batch_normalize=1
#filters=256
#size=1
#stride=1
#pad=1
#activation=swish

#[convolutional]
#batch_normalize=1
#filters=512
#size=3
#stride=1
#pad=1
#activation=swish

### TridentNet - large objects - Start
#1-170
[convolutional]
batch_normalize=1
filters=64 #256
size=1
stride=1
pad=1
activation=swish
#2-171
[convolutional]
dilation=3
batch_normalize=1
filters=64 #256
size=3
stride=1
pad=1
activation=swish
#3-172
[convolutional]
batch_normalize=1
filters=256 #1024
size=1
stride=1
pad=1
activation=linear
#4-173
[shortcut]
from=-4
activation=swish
#5-174
[convolutional]
batch_normalize=1
filters=64 #256
size=1
stride=1
pad=1
activation=swish
#6-175
[convolutional]
dilation=3
batch_normalize=1
filters=64 #256
size=3
stride=1
pad=1
activation=swish
#7-176
[convolutional]
batch_normalize=1
filters=256 #1024
size=1
stride=1
pad=1
activation=linear
#8-177
[shortcut]
from=-4
activation=swish
#9-178
[convolutional]
batch_normalize=1
filters=64 #256
size=1
stride=1
pad=1
activation=swish
#10-179
[convolutional]
dilation=3
batch_normalize=1
filters=64 #256
size=3
stride=1
pad=1
activation=swish
#11-180
[convolutional]
batch_normalize=1
filters=256 #1024
size=1
stride=1
pad=1
activation=linear
#181
[shortcut]
from=-4
activation=swish

#182
## Conv 5
[convolutional]
batch_normalize=1
filters=128 #512
size=1
stride=1
pad=1
activation=swish
#183
[convolutional]
dilation=3
batch_normalize=1
filters=128 #512
size=3
stride=2
pad=1
activation=swish
#184
[convolutional]
batch_normalize=1
filters=512 #2048
size=1
stride=1
pad=1
activation=linear
#185
[shortcut]
from=-4
activation=swish
#186
[convolutional]
batch_normalize=1
filters=128 #512
size=1
stride=1
pad=1
activation=swish
#187
[convolutional]
dilation=3
batch_normalize=1
filters=128 #512
size=3
stride=1
pad=1
activation=swish
#188
[convolutional]
batch_normalize=1
filters=512 #2048
size=1
stride=1
pad=1
activation=linear

#189
[shortcut]
from=-4
activation=swish
#190
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=swish

#191
[convolutional]
size=1
stride=1
pad=1
filters=32
activation=linear

#192
[yolo]
mask = 8,9,10,11
anchors = 21, 15,  37, 22,  21, 42,  57, 30,  40, 79,  72, 48, 106, 36, 123, 63,  76,123, 180, 82, 220,121, 316,143
classes=3
num=12
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=0

### TridentNet - large objects - End


### TridentNet - medium objects - Start
#191
[route]
layers = 14
#192
[convolutional]
#share_index=170
batch_normalize=1
filters=64 #256
size=1
stride=1
pad=1
activation=swish

[convolutional]
#share_index=171
dilation=2
batch_normalize=1
filters=64 #256
size=3
stride=1
pad=1
activation=swish

[convolutional]
#share_index=172
batch_normalize=1
filters=256 #1024
size=1
stride=1
pad=1
activation=linear

[shortcut]
from=-4
activation=swish

[convolutional]
#share_index=174
batch_normalize=1
filters=64 #256
size=1
stride=1
pad=1
activation=swish

[convolutional]
#share_index=175
dilation=2
batch_normalize=1
filters=64 #256
size=3
stride=1
pad=1
activation=swish

[convolutional]
#share_index=176
batch_normalize=1
filters=256 #1024
size=1
stride=1
pad=1
activation=linear

[shortcut]
from=-4
activation=swish

[convolutional]
#share_index=178
batch_normalize=1
filters=64 #256
size=1
stride=1
pad=1
activation=swish

[convolutional]
#share_index=179
dilation=2
batch_normalize=1
filters=64 #256
size=3
stride=1
pad=1
activation=swish

[convolutional]
#share_index=180
batch_normalize=1
filters=256 #1024
size=1
stride=1
pad=1
activation=linear

[shortcut]
from=-4
activation=swish


## Conv 5
[convolutional]
#share_index=182
batch_normalize=1
filters=128 #512
size=1
stride=1
pad=1
activation=swish

[convolutional]
#share_index=183
dilation=2
batch_normalize=1
filters=128 #512
size=3
stride=2
pad=1
activation=swish

[convolutional]
#share_index=184
batch_normalize=1
filters=512 #2048
size=1
stride=1
pad=1
activation=linear

[shortcut]
from=-4
activation=swish

[convolutional]
#share_index=186
batch_normalize=1
filters=128 #512
size=1
stride=1
pad=1
activation=swish

[convolutional]
#share_index=187
dilation=2
batch_normalize=1
filters=128 #512
size=3
stride=1
pad=1
activation=swish

[convolutional]
#share_index=188
batch_normalize=1
filters=512 #2048
size=1
stride=1
pad=1
activation=linear

[shortcut]
from=-4
activation=swish

[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=256 #1024
activation=swish

[upsample]
stride=2

[route]
layers = -1, 9

[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=256 #1024
activation=swish

[convolutional]
size=1
stride=1
pad=1
filters=32
activation=linear

[yolo]
mask = 4,5,6,7
anchors = 23, 16,  20, 42,  42, 23,  56, 38,  87, 30,  40, 79,  97, 53,  76,122, 150, 66, 191, 96, 225,130, 319,141
classes=3
num=12
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=0

### TridentNet - medium objects - End


### TridentNet - small objects - Start

[route]
layers = 14

[convolutional]
#share_index=170
batch_normalize=1
filters=64 #256
size=1
stride=1
pad=1
activation=swish

[convolutional]
#share_index=171
dilation=1
batch_normalize=1
filters=64 #256
size=3
stride=1
pad=1
activation=swish

[convolutional]
#share_index=172
batch_normalize=1
filters=256 #1024
size=1
stride=1
pad=1
activation=linear

[shortcut]
from=-4
activation=swish

[convolutional]
#share_index=174
batch_normalize=1
filters=64 #256
size=1
stride=1
pad=1
activation=swish

[convolutional]
#share_index=175
dilation=1
batch_normalize=1
filters=64 #256
size=3
stride=1
pad=1
activation=swish

[convolutional]
#share_index=176
batch_normalize=1
filters=256 #1024
size=1
stride=1
pad=1
activation=linear

[shortcut]
from=-4
activation=swish

[convolutional]
#share_index=178
batch_normalize=1
filters=64 #256
size=1
stride=1
pad=1
activation=swish

[convolutional]
#share_index=179
dilation=1
batch_normalize=1
filters=64 #256
size=3
stride=1
pad=1
activation=swish

[convolutional]
#share_index=180
batch_normalize=1
filters=256 #1024
size=1
stride=1
pad=1
activation=linear

[shortcut]
from=-4
activation=swish


## Conv 5
[convolutional]
#share_index=182
batch_normalize=1
filters=128 #512
size=1
stride=1
pad=1
activation=swish

[convolutional]
#share_index=183
dilation=1
batch_normalize=1
filters=128 #512
size=3
stride=2
pad=1
activation=swish

[convolutional]
#share_index=184
batch_normalize=1
filters=512 #2048
size=1
stride=1
pad=1
activation=linear

[shortcut]
from=-4
activation=swish

[convolutional]
#share_index=186
batch_normalize=1
filters=128 #512
size=1
stride=1
pad=1
activation=swish

[convolutional]
#share_index=187
dilation=1
batch_normalize=1
filters=128 #512
size=3
stride=1
pad=1
activation=swish

[convolutional]
#share_index=188
batch_normalize=1
filters=512 #2048
size=1
stride=1
pad=1
activation=linear

[shortcut]
from=-4
activation=swish

[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=128 #512
activation=swish

[upsample]
stride=4

[route]
layers = -1, 8

[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=128 #512
activation=swish

[convolutional]
size=1
stride=1
pad=1
filters=32
activation=linear

[yolo]
mask = 0,1,2,3
anchors = 23, 16,  20, 42,  42, 23,  56, 38,  87, 30,  40, 79,  97, 53,  76,122, 150, 66, 191, 96, 225,130, 319,141
classes=3
num=12
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=0

### TridentNet - small objects - End
