[net]
# Testing
#batch=1
#subdivisions=1
# Training
batch=64
subdivisions=1
width=1024
height=256
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

learning_rate=0.001
burn_in=1000
max_batches = 10000
policy=steps
steps=7000,8000
scales=.1,.1

#1 
[convolutional]
batch_normalize=1
filters=32
size=3
stride=2
pad=1
activation=leaky

#2 
#[depthwise_convolutional]
[convolutional]
filters=32
groups=32
batch_normalize=1
size=3
stride=1
pad=1
activation=leaky

#3
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=leaky


#4
#[depthwise_convolutional]
[convolutional]
filters=64
groups=64
batch_normalize=1
size=3
stride=2
pad=1
activation=leaky

#5
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=0
activation=leaky

#6
#[depthwise_convolutional]
[convolutional]
filters=128
groups=128
batch_normalize=1
size=3
stride=1
pad=1
activation=leaky

#7
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=0
activation=leaky

#8
#[depthwise_convolutional]
[convolutional]
filters=128
groups=128
batch_normalize=1
size=3
stride=2
pad=1
activation=leaky

#9
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=0
activation=leaky

#10
#[depthwise_convolutional]
[convolutional]
filters=256
groups=256
batch_normalize=1
size=3
stride=1
pad=1
activation=leaky

#11
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=0
activation=leaky

#12
#[depthwise_convolutional]
[convolutional]
filters=256
groups=256
batch_normalize=1
size=3
stride=2
pad=1
activation=leaky

#13
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=0
activation=leaky

#14
#[depthwise_convolutional]
[convolutional]
filters=512
groups=512
batch_normalize=1
size=3
stride=1
pad=1
activation=leaky

#15
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=0
activation=leaky

#16
#[depthwise_convolutional]
[convolutional]
filters=512
groups=512
batch_normalize=1
size=3
stride=1
pad=1
activation=leaky

#17
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=0
activation=leaky

#18
#[depthwise_convolutional]
[convolutional]
filters=512
groups=512
batch_normalize=1
size=3
stride=1
pad=1
activation=leaky

#19
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=0
activation=leaky

#20
#[depthwise_convolutional]
[convolutional]
filters=512
groups=512
batch_normalize=1
size=3
stride=1
pad=1
activation=leaky

#21
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=0
activation=leaky

#22
#[depthwise_convolutional]
[convolutional]
filters=512
groups=512
batch_normalize=1
size=3
stride=1
pad=1
activation=leaky

#23
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=0
activation=leaky

#24
#[depthwise_convolutional]
[convolutional]
filters=512
groups=512
batch_normalize=1
size=3
stride=2
pad=1
activation=leaky

#25
[convolutional]
batch_normalize=1
filters=1024
size=1
stride=1
pad=0
activation=leaky

#26
#[depthwise_convolutional]
[convolutional]
filters=1024
groups=1024
batch_normalize=1
size=3
stride=2
pad=1
activation=leaky

#27
[convolutional]
batch_normalize=1
filters=1024
size=1
stride=1
pad=0
activation=leaky

###########
#28
#[convolutional]
#batch_normalize=1
#size=3
#stride=1
#pad=1
#filters=1024
#activation=leaky

#detector
[convolutional]
size=1
stride=1
pad=1
filters=48
activation=linear

[yolo]
mask = 0,1,2,3,4,5
anchors = 27, 22,  59, 33,  55,100, 109, 53, 171, 93, 276,134
classes=3
num=6
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=0


